@mixin color-box ($bg, $col){
    background: $bg;
    color:$col;
}
$min-height:75px;
$border-color:#ccc;
.zoomContainer{
    [id*="level-"]{
        display:-webkit-flex;
        display:flex;
        margin-top: 2em;
        position: relative;
        > .col:not(#gl) {
            width:14%;
            height: inherit;
        }
        #gl{
            flex:1;
            -webkit-flex:1;
        }
        .zoomBox{
            margin: 1%;
            padding: .5em;
            height: inherit;
            border: {
                width:1px;
                style:solid;
                color:$border-color;
            }
            * {
                font-size: smaller;
                color:inherit;

            }
            [id*="abt-0"] &, #gl &, [id*="gb-0"] &{
                @include color-box (blue, white);
            }
            [id*="fb"] &, [id*="fa"] &{
                @include color-box (green, #eee);
            }
            [id*="gb-9"] &, [id*="abt-9"] &{
                @include color-box (yellow, #999);
            }
        }
    }
}
/*.zoomContainer {
    text-align: center;
    .row {
        
        > .col-md-2{
            width: 14%;
        }
        &#level-0{
            position: relative;
            min-height: $min-height;
            > [class*="col-"]{
                float: none;
                position: absolute;
                top:0;
            }
            > [class*="col-"]:first-child{
                left:0;
                margin-left: 14%;
            }
            > [class*="col-"]:last-child{
                position: absolute;
                right:16%;
            }
            > #gl {
                left:28%;
                right:30%;
                width: auto !important;
            }
        }

        h2 {
            word-break: break-all;
            margin:0;
            min-height: 2em;
            padding:.5em 0;
        }
    }
    [class*="col-"] {
        padding-left:1%;
        padding-right:1%;
        ul {
            margin:0;
            padding:0;
        }
        li {
            display: inline-table;
            padding:0 .5em;
        }
    }
}
.zoomBox {
    min-height: $min-height;

   
    &:after {
        content:' ';
        display: block;
        height:2em;
        position: absolute;
        left:50%;
        margin-left: -2px;
        bottom:-2em;
        width: 2px;
        background:$border-color;
        .row:last-child &{
            display: none;
        }
    }
    
}*/