/* line 8, ../scss/custom.scss */
.zoomContainer [id*="level-"] {
  display: -webkit-flex;
  display: flex;
  margin-top: 2em;
  position: relative;
}
/* line 13, ../scss/custom.scss */
.zoomContainer [id*="level-"] > .col:not(#gl) {
  width: 14%;
  height: inherit;
}
/* line 17, ../scss/custom.scss */
.zoomContainer [id*="level-"] #gl {
  flex: 1;
  -webkit-flex: 1;
}
/* line 21, ../scss/custom.scss */
.zoomContainer [id*="level-"] .zoomBox {
  margin: 1%;
  padding: .5em;
  height: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
}
/* line 30, ../scss/custom.scss */
.zoomContainer [id*="level-"] .zoomBox * {
  font-size: smaller;
  color: inherit;
}
/* line 35, ../scss/custom.scss */
[id*="abt-0"] .zoomContainer [id*="level-"] .zoomBox, #gl .zoomContainer [id*="level-"] .zoomBox, [id*="gb-0"] .zoomContainer [id*="level-"] .zoomBox {
  background: blue;
  color: white;
}
/* line 38, ../scss/custom.scss */
[id*="fb"] .zoomContainer [id*="level-"] .zoomBox, [id*="fa"] .zoomContainer [id*="level-"] .zoomBox {
  background: green;
  color: #eeeeee;
}
/* line 41, ../scss/custom.scss */
[id*="gb-9"] .zoomContainer [id*="level-"] .zoomBox, [id*="abt-9"] .zoomContainer [id*="level-"] .zoomBox {
  background: yellow;
  color: #999999;
}

/*.zoomContainer {
    text-align: center;
    .row {
        
        > .col-md-2{
            width: 14%;
        }
        &#level-0{
            position: relative;
            min-height: $min-height;
            > [class*="col-"]{
                float: none;
                position: absolute;
                top:0;
            }
            > [class*="col-"]:first-child{
                left:0;
                margin-left: 14%;
            }
            > [class*="col-"]:last-child{
                position: absolute;
                right:16%;
            }
            > #gl {
                left:28%;
                right:30%;
                width: auto !important;
            }
        }

        h2 {
            word-break: break-all;
            margin:0;
            min-height: 2em;
            padding:.5em 0;
        }
    }
    [class*="col-"] {
        padding-left:1%;
        padding-right:1%;
        ul {
            margin:0;
            padding:0;
        }
        li {
            display: inline-table;
            padding:0 .5em;
        }
    }
}
.zoomBox {
    min-height: $min-height;

   
    &:after {
        content:' ';
        display: block;
        height:2em;
        position: absolute;
        left:50%;
        margin-left: -2px;
        bottom:-2em;
        width: 2px;
        background:$border-color;
        .row:last-child &{
            display: none;
        }
    }
    
}*/
